
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    font-family:"Urbanist","sans-serif";
  
}

#particles canvas{
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
}
